mqtt_server_with_mysql_demo.json
[{"id":"c33b8159.cf5af","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e3dec912.5634","type":"mysql","z":"c33b8159.cf5af","mydb":"5ac81495.aee9c4","name":"","x":940,"y":240,"wires":[["37306f2d.64e978"]]},{"id":"8fe5cede.da4378","type":"mqtt in","z":"c33b8159.cf5af","name":"","topic":"topic01","qos":"2","datatype":"auto","broker":"63f87218.a5bb1c","x":430,"y":360,"wires":[["6cae45f0.f4660c","982aad9c.d2d9a"]]},{"id":"37306f2d.64e978","type":"debug","z":"c33b8159.cf5af","name":"database output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":240,"wires":[]},{"id":"48db01aa.f77768","type":"function","z":"c33b8159.cf5af","name":"make query1","func":"msg.topic = \"select * from TB1\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["e3dec912.5634"]]},{"id":"49a5ed58.7d3a64","type":"inject","z":"c33b8159.cf5af","name":"","topic":"read database","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":220,"wires":[["48db01aa.f77768"]]},{"id":"6cae45f0.f4660c","type":"json","z":"c33b8159.cf5af","name":"","property":"payload","action":"","pretty":false,"x":630,"y":360,"wires":[["40eab78b.8468d8","63383bbe.3e1874"]]},{"id":"63383bbe.3e1874","type":"debug","z":"c33b8159.cf5af","name":"json object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":460,"wires":[]},{"id":"982aad9c.d2d9a","type":"debug","z":"c33b8159.cf5af","name":"raw json string","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":460,"wires":[]},{"id":"40eab78b.8468d8","type":"function","z":"c33b8159.cf5af","name":"insert data","func":"s1 = new String(\"insert into TB1 values(\");\ns2 = new String(msg.payload.id);\ns3 = new String(\",\\\"\");\ns4 = new String(msg.payload.event);\ns5 = new String(\"\\\");\");\n\nquery = s1+s2+s3+s4+s5;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":360,"wires":[["5a1a856d.6b0854","e3dec912.5634"]]},{"id":"5a1a856d.6b0854","type":"debug","z":"c33b8159.cf5af","name":"insert query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1020,"y":460,"wires":[]},{"id":"5ac81495.aee9c4","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"DB_test1","tz":"","charset":"UTF8"},{"id":"63f87218.a5bb1c","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.3","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"topic01","birthQos":"1","birthPayload":"connected","closeTopic":"topic01","closeQos":"0","closePayload":"disconnected","willTopic":"","willQos":"0","willPayload":""}]